@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding-top: 56px;
}

@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  .hidden-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }
}

/* === side menu ==== */

nav {
  overflow-y: auto;
  scrollbar-width: none;
}

nav .title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.tooltip:hover .tooltip-text {
  opacity: 1;
  visibility: visible;
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  bottom: -45px;

  display: inline-block;
  white-space: nowrap;
  padding: 10px;

  font-size: 12px;
  color: white;

  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
