@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding-top: 56px;
}

.tag-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* === side menu ==== */

nav {
  overflow-y: auto;
  scrollbar-width: none;
}

nav .title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.Articletitle {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
