@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	padding-top: 56px;
}

.tag-list {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

/* === side menu ==== */

nav {
	overflow-y: auto;
	scrollbar-width: none;
}

nav .title {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}

.Articletitle {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.tooltip:hover .tooltip-text {
	opacity: 1;
	visibility: visible;
}

.tooltip-text {
	visibility: hidden;
	position: absolute;
	bottom: -45px;

	display: inline-block;
	white-space: nowrap;
	padding: 10px;

	font-size: 12px;
	color: white;

	background: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}