@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	padding-top: 56px;
}

.tag_list {
	padding-left: 250px;
	display: flex;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	background: red;
}
