@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  .hidden-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }
}

.tooltip:hover .tooltip-text {
  opacity: 1;
  visibility: visible;
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  bottom: -45px;

  display: inline-block;
  white-space: nowrap;
  padding: 10px;

  font-size: 12px;
  color: white;

  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
