main {
}


.grid-frame {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 120px;
  padding: 0;
}

.article {
 background: skyblue;
  border: 1px solid pink;
  height: 175px;
  width: 310px;
  border-radius: 5%;
  margin: auto;
}


.pop{
    overflow: hidden;
}

.cart{
    border-radius: 100%;
    height: 50px;
    width: 100px;
}

.socr{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.disc{
    display: flex;
}