@tailwind base;
@tailwind components;
@tailwind utilities;

.my-grid {
  display: grid;
  grid-template-columns: 169px 1fr 156px;
  height: 56px;
}

.hoge {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: orange;
}
.fuga {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background: orange;
}
