@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  padding-top: 56px;
  width: 100%;
  height: 100%;
  background: blue;
}

.grid-frame {
  padding: 64px 8px 8px 8px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.photo {
  width: 100%;
  padding-bottom: 12px;
  border-radius: 10px;
}
.article {
  width: 100%;
  /* background: white; */
  /* border: 1px solid pink; */
  margin-bottom: 10px;
}
.desc {
  display: flex;
  margin-bottom: 10px;
}
.img {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-right: 12px;
}
.title {
  font-size: 16px;
  font-weight: 500;
  color: rgb(15, 15, 15);
  margin-bottom: 5px;
}
.user {
  font-size: 14px;
  font-weight: 400;
  color: rgb(96, 96, 96);
}
.stats {
  font-size: 14px;
  font-weight: 400;
  color: rgb(96, 96, 96);
}
